@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="background-container">
        <h1 class="display-4">Welcome to Agri-Energy Connect</h1>
        <p>Innovators in delivering high end resources to the agricultural industry</p>
    </div>
</body>

